.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.btn_state_active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.btn_state_active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.btn_state_disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn_theme_default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn_theme_default:hover,
.btn_theme_default:focus,
.btn_theme_default:active,
.btn_theme_default.active,
.open > .dropdown-toggle.btn_theme_default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn_theme_default:active,
.btn_theme_default.active,
.open > .dropdown-toggle.btn_theme_default {
  background-image: none;
}
.btn_theme_default.disabled,
.btn_theme_default[disabled],
fieldset[disabled] .btn_theme_default,
.btn_theme_default.disabled:hover,
.btn_theme_default[disabled]:hover,
fieldset[disabled] .btn_theme_default:hover,
.btn_theme_default.disabled:focus,
.btn_theme_default[disabled]:focus,
fieldset[disabled] .btn_theme_default:focus,
.btn_theme_default.disabled:active,
.btn_theme_default[disabled]:active,
fieldset[disabled] .btn_theme_default:active,
.btn_theme_default.disabled.active,
.btn_theme_default[disabled].active,
fieldset[disabled] .btn_theme_default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn_theme_default .badge {
  color: #ffffff;
  background-color: #333333;
}
.btn_theme_primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn_theme_primary:hover,
.btn_theme_primary:focus,
.btn_theme_primary:active,
.btn_theme_primary.active,
.open > .dropdown-toggle.btn_theme_primary {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn_theme_primary:active,
.btn_theme_primary.active,
.open > .dropdown-toggle.btn_theme_primary {
  background-image: none;
}
.btn_theme_primary.disabled,
.btn_theme_primary[disabled],
fieldset[disabled] .btn_theme_primary,
.btn_theme_primary.disabled:hover,
.btn_theme_primary[disabled]:hover,
fieldset[disabled] .btn_theme_primary:hover,
.btn_theme_primary.disabled:focus,
.btn_theme_primary[disabled]:focus,
fieldset[disabled] .btn_theme_primary:focus,
.btn_theme_primary.disabled:active,
.btn_theme_primary[disabled]:active,
fieldset[disabled] .btn_theme_primary:active,
.btn_theme_primary.disabled.active,
.btn_theme_primary[disabled].active,
fieldset[disabled] .btn_theme_primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn_theme_primary .badge {
  color: #428bca;
  background-color: #ffffff;
}
.btn_theme_success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn_theme_success:hover,
.btn_theme_success:focus,
.btn_theme_success:active,
.btn_theme_success.active,
.open > .dropdown-toggle.btn_theme_success {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.btn_theme_success:active,
.btn_theme_success.active,
.open > .dropdown-toggle.btn_theme_success {
  background-image: none;
}
.btn_theme_success.disabled,
.btn_theme_success[disabled],
fieldset[disabled] .btn_theme_success,
.btn_theme_success.disabled:hover,
.btn_theme_success[disabled]:hover,
fieldset[disabled] .btn_theme_success:hover,
.btn_theme_success.disabled:focus,
.btn_theme_success[disabled]:focus,
fieldset[disabled] .btn_theme_success:focus,
.btn_theme_success.disabled:active,
.btn_theme_success[disabled]:active,
fieldset[disabled] .btn_theme_success:active,
.btn_theme_success.disabled.active,
.btn_theme_success[disabled].active,
fieldset[disabled] .btn_theme_success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn_theme_success .badge {
  color: #5cb85c;
  background-color: #ffffff;
}
.btn_theme_info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn_theme_info:hover,
.btn_theme_info:focus,
.btn_theme_info:active,
.btn_theme_info.active,
.open > .dropdown-toggle.btn_theme_info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn_theme_info:active,
.btn_theme_info.active,
.open > .dropdown-toggle.btn_theme_info {
  background-image: none;
}
.btn_theme_info.disabled,
.btn_theme_info[disabled],
fieldset[disabled] .btn_theme_info,
.btn_theme_info.disabled:hover,
.btn_theme_info[disabled]:hover,
fieldset[disabled] .btn_theme_info:hover,
.btn_theme_info.disabled:focus,
.btn_theme_info[disabled]:focus,
fieldset[disabled] .btn_theme_info:focus,
.btn_theme_info.disabled:active,
.btn_theme_info[disabled]:active,
fieldset[disabled] .btn_theme_info:active,
.btn_theme_info.disabled.active,
.btn_theme_info[disabled].active,
fieldset[disabled] .btn_theme_info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn_theme_info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.btn_theme_warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn_theme_warning:hover,
.btn_theme_warning:focus,
.btn_theme_warning:active,
.btn_theme_warning.active,
.open > .dropdown-toggle.btn_theme_warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn_theme_warning:active,
.btn_theme_warning.active,
.open > .dropdown-toggle.btn_theme_warning {
  background-image: none;
}
.btn_theme_warning.disabled,
.btn_theme_warning[disabled],
fieldset[disabled] .btn_theme_warning,
.btn_theme_warning.disabled:hover,
.btn_theme_warning[disabled]:hover,
fieldset[disabled] .btn_theme_warning:hover,
.btn_theme_warning.disabled:focus,
.btn_theme_warning[disabled]:focus,
fieldset[disabled] .btn_theme_warning:focus,
.btn_theme_warning.disabled:active,
.btn_theme_warning[disabled]:active,
fieldset[disabled] .btn_theme_warning:active,
.btn_theme_warning.disabled.active,
.btn_theme_warning[disabled].active,
fieldset[disabled] .btn_theme_warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn_theme_warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.btn_theme_danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn_theme_danger:hover,
.btn_theme_danger:focus,
.btn_theme_danger:active,
.btn_theme_danger.active,
.open > .dropdown-toggle.btn_theme_danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn_theme_danger:active,
.btn_theme_danger.active,
.open > .dropdown-toggle.btn_theme_danger {
  background-image: none;
}
.btn_theme_danger.disabled,
.btn_theme_danger[disabled],
fieldset[disabled] .btn_theme_danger,
.btn_theme_danger.disabled:hover,
.btn_theme_danger[disabled]:hover,
fieldset[disabled] .btn_theme_danger:hover,
.btn_theme_danger.disabled:focus,
.btn_theme_danger[disabled]:focus,
fieldset[disabled] .btn_theme_danger:focus,
.btn_theme_danger.disabled:active,
.btn_theme_danger[disabled]:active,
fieldset[disabled] .btn_theme_danger:active,
.btn_theme_danger.disabled.active,
.btn_theme_danger[disabled].active,
fieldset[disabled] .btn_theme_danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn_theme_danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}
.btn_link_true {
  color: #428bca;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.btn_link_true,
.btn_link_true:active,
.btn_link_true[disabled],
fieldset[disabled] .btn_link_true {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn_link_true,
.btn_link_true:hover,
.btn_link_true:focus,
.btn_link_true:active {
  border-color: transparent;
}
.btn_link_true:hover,
.btn_link_true:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
.btn_link_true[disabled]:hover,
fieldset[disabled] .btn_link_true:hover,
.btn_link_true[disabled]:focus,
fieldset[disabled] .btn_link_true:focus {
  color: #777777;
  text-decoration: none;
}
.btn_size_lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn_size_sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn_size_xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn_block_true {
  display: block;
  width: 100%;
}
.btn_block_true + .btn_block_true {
  margin-top: 5px;
}
input[type="submit"].btn_block_true,
input[type="reset"].btn_block_true,
input[type="button"].btn_block_true {
  width: 100%;
}
