.raw-text hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.raw-text h1,
.raw-text h2,
.raw-text h3,
.raw-text h4,
.raw-text h5,
.raw-text h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.raw-text h1 small,
.raw-text h2 small,
.raw-text h3 small,
.raw-text h4 small,
.raw-text h5 small,
.raw-text h6 small,
.raw-text h1 .small,
.raw-text h2 .small,
.raw-text h3 .small,
.raw-text h4 .small,
.raw-text h5 .small,
.raw-text h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
.raw-text h1,
.raw-text h2,
.raw-text h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.raw-text h1 small,
.raw-text h2 small,
.raw-text h3 small,
.raw-text h1 .small,
.raw-text h2 .small,
.raw-text h3 .small {
  font-size: 65%;
}
.raw-text h4,
.raw-text h5,
.raw-text h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.raw-text h4 small,
.raw-text h5 small,
.raw-text h6 small,
.raw-text h4 .small,
.raw-text h5 .small,
.raw-text h6 .small {
  font-size: 75%;
}
.raw-text h1 {
  font-size: 36px;
}
.raw-text h2 {
  font-size: 30px;
}
.raw-text h3 {
  font-size: 24px;
}
.raw-text h4 {
  font-size: 18px;
}
.raw-text h5 {
  font-size: 14px;
}
.raw-text h6 {
  font-size: 12px;
}
.raw-text p {
  margin: 0 0 10px;
}
.raw-text small {
  font-size: 85%;
}
.raw-text cite {
  font-style: normal;
}
.raw-text mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.raw-text ul,
.raw-text ol {
  margin-top: 0;
  margin-bottom: 10px;
}
.raw-text ul ul,
.raw-text ol ul,
.raw-text ul ol,
.raw-text ol ol {
  margin-bottom: 0;
}
.raw-text dl {
  margin-top: 0;
  margin-bottom: 20px;
}
.raw-text dt,
.raw-text dd {
  line-height: 1.42857143;
}
.raw-text dt {
  font-weight: bold;
}
.raw-text dd {
  margin-left: 0;
}
.raw-text abbr[title],
.raw-text abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
.raw-text blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
.raw-text blockquote p:last-child,
.raw-text blockquote ul:last-child,
.raw-text blockquote ol:last-child {
  margin-bottom: 0;
}
.raw-text blockquote footer,
.raw-text blockquote small,
.raw-text blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777;
}
.raw-text blockquote footer:before,
.raw-text blockquote small:before,
.raw-text blockquote .small:before {
  content: '\2014 \00A0';
}
.raw-text blockquote:before,
.raw-text blockquote:after {
  content: "";
}
.raw-text address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
.raw-text code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.raw-text kbd {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.raw-text pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.raw-text samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.raw-text code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.raw-text kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.raw-text kbd kbd {
  padding: 0;
  font-size: 100%;
  box-shadow: none;
}
.raw-text pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.raw-text pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
