.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.navbar:before,
.navbar:after {
  content: " ";
  display: table;
}
.navbar:after {
  clear: both;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
.navbar__header:before,
.navbar__header:after {
  content: " ";
  display: table;
}
.navbar__header:after {
  clear: both;
}
@media (min-width: 768px) {
  .navbar__header {
    float: left;
  }
}
.navbar__collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.navbar__collapse:before,
.navbar__collapse:after {
  content: " ";
  display: table;
}
.navbar__collapse:after {
  clear: both;
}
.navbar__collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar__collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar__collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar__collapse.in {
    overflow-y: visible;
  }
  .navbar_fixed_top .navbar__collapse,
  .navbar_static-top .navbar__collapse,
  .navbar_fixed_bottom .navbar__collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.navbar_fixed_top .navbar__collapse,
.navbar_fixed_bottom .navbar__collapse {
  max-height: 340px;
}
@media (max-width: 480px) and (orientation: landscape) {
  .navbar_fixed_top .navbar__collapse,
  .navbar_fixed_bottom .navbar__collapse {
    max-height: 200px;
  }
}
.grid > .navbar__header,
.grid-fluid > .navbar__header,
.grid > .navbar__collapse,
.grid-fluid > .navbar__collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .grid > .navbar__header,
  .grid-fluid > .navbar__header,
  .grid > .navbar__collapse,
  .grid-fluid > .navbar__collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar_static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .navbar_static-top {
    border-radius: 0;
  }
}
.navbar_fixed_top,
.navbar_fixed_bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media (min-width: 768px) {
  .navbar_fixed_top,
  .navbar_fixed_bottom {
    border-radius: 0;
  }
}
.navbar_fixed_top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar_fixed_bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.navbar__brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.navbar__brand:hover,
.navbar__brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .grid .navbar__brand {
    margin-left: -15px;
  }
}
.navbar__toggler {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar__toggler:focus {
  outline: 0;
}
@media (min-width: 768px) {
  .navbar__toggler {
    display: none;
  }
}
.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar__link {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.navbar__nav {
  margin: 7.5px -15px;
}
@media (max-width: 767px) {
  .navbar__nav .dropdown_open .dropdown__menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar__nav .dropdown_open .dropdown__menu .dropdown__link,
  .navbar__nav .dropdown_open .dropdown__menu .dropdown__header {
    padding: 5px 15px 5px 25px;
  }
  .navbar__nav .dropdown_open .dropdown__menu .dropdown__link {
    line-height: 20px;
  }
  .navbar__nav .dropdown_open .dropdown__menu .dropdown__link:hover,
  .navbar__nav .dropdown_open .dropdown__menu .dropdown__link:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar__nav {
    float: left;
    margin: 0;
  }
  .navbar__nav .nav__item {
    float: left;
  }
  .navbar__nav .nav__link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar__nav.navbar_right:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .navbar_left {
    float: left !important;
  }
  .navbar_right {
    float: right !important;
  }
}
.navbar__form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 8px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .navbar__form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar__form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar__form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar__form .input-group .input-group-addon,
  .navbar__form .input-group .input-group-btn,
  .navbar__form .input-group .form-control {
    width: auto;
  }
  .navbar__form .input-group > .form-control {
    width: 100%;
  }
  .navbar__form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar__form .radio,
  .navbar__form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar__form .radio label,
  .navbar__form .checkbox label {
    padding-left: 0;
  }
  .navbar__form .radio input[type="radio"],
  .navbar__form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .navbar__form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar__form .form__group {
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .navbar__form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar__form.navbar_right:last-child {
    margin-right: -15px;
  }
}
.navbar__nav .dropdown__menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.navbar-fixed-bottom .dropdown__menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar__btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar__btn.btn_size_sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar__btn.btn_size_xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar-text.navbar_right:last-child {
    margin-right: 0;
  }
}
.navbar_theme_default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar_theme_default .navbar__brand {
  color: #777777;
}
.navbar_theme_default .navbar__brand:hover,
.navbar_theme_default .navbar__brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar_theme_default .navbar__text {
  color: #777777;
}
.navbar_theme_default .navbar__nav > li > a {
  color: #777777;
}
.navbar_theme_default .navbar__nav > li > a:hover,
.navbar_theme_default .navbar__nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar_theme_default .navbar__nav .nav__item_active .nav__link,
.navbar_theme_default .navbar__nav .nav__item_active .nav__link:hover,
.navbar_theme_default .navbar__nav .nav__item_active .nav__link:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.navbar_theme_default .navbar__nav .nav__item_disabled .nav__link,
.navbar_theme_default .navbar__nav .nav__item_disabled .nav__link:hover,
.navbar_theme_default .navbar__nav .nav__item_disabled .nav__link:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar_theme_default .navbar__toggler {
  border-color: #dddddd;
}
.navbar_theme_default .navbar__toggler:hover,
.navbar_theme_default .navbar__toggler:focus {
  background-color: #dddddd;
}
.navbar_theme_default .navbar__toggler .icon-bar {
  background-color: #888888;
}
.navbar_theme_default .navbar__collapse,
.navbar_theme_default .navbar__form {
  border-color: #e7e7e7;
}
.navbar_theme_default .navbar__nav > .open > a,
.navbar_theme_default .navbar__nav > .open > a:hover,
.navbar_theme_default .navbar__nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}
@media (max-width: 767px) {
  .navbar_theme_default .navbar__nav .open .dropdown__menu > li > a {
    color: #777777;
  }
  .navbar_theme_default .navbar__nav .open .dropdown__menu > li > a:hover,
  .navbar_theme_default .navbar__nav .open .dropdown__menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar_theme_default .navbar__nav .open .dropdown__menu > .active > a,
  .navbar_theme_default .navbar__nav .open .dropdown__menu > .active > a:hover,
  .navbar_theme_default .navbar__nav .open .dropdown__menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar_theme_default .navbar__nav .open .dropdown__menu > .disabled > a,
  .navbar_theme_default .navbar__nav .open .dropdown__menu > .disabled > a:hover,
  .navbar_theme_default .navbar__nav .open .dropdown__menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar_theme_default .navbar-link {
  color: #777777;
}
.navbar_theme_default .navbar-link:hover {
  color: #333333;
}
.navbar_theme_default .btn-link {
  color: #777777;
}
.navbar_theme_default .btn-link:hover,
.navbar_theme_default .btn-link:focus {
  color: #333333;
}
.navbar_theme_default .btn-link[disabled]:hover,
fieldset[disabled] .navbar_theme_default .btn-link:hover,
.navbar_theme_default .btn-link[disabled]:focus,
fieldset[disabled] .navbar_theme_default .btn-link:focus {
  color: #cccccc;
}
.navbar_theme_inverse {
  background-color: #222222;
  border-color: #080808;
}
.navbar_theme_inverse .navbar__brand {
  color: #777777;
}
.navbar_theme_inverse .navbar__brand:hover,
.navbar_theme_inverse .navbar__brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar_theme_inverse .navbar__text {
  color: #777777;
}
.navbar_theme_inverse .navbar__nav .nav__link {
  color: #777777;
}
.navbar_theme_inverse .navbar__nav .nav__link:hover,
.navbar_theme_inverse .navbar__nav .nav__link:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar_theme_inverse .navbar__nav .nav__item_active .nav__link,
.navbar_theme_inverse .navbar__nav .nav__item_active .nav__link:hover,
.navbar_theme_inverse .navbar__nav .nav__item_active .nav__link:focus {
  color: #ffffff;
  background-color: #080808;
}
.navbar_theme_inverse .navbar__nav .nav__item_disabled .nav__link,
.navbar_theme_inverse .navbar__nav .nav__item_disabled .nav__link:hover,
.navbar_theme_inverse .navbar__nav .nav__item_disabled .nav__link:focus {
  color: #444444;
  background-color: transparent;
}
.navbar_theme_inverse .navbar__toggler {
  border-color: #333333;
}
.navbar_theme_inverse .navbar__toggler:hover,
.navbar_theme_inverse .navbar__toggler:focus {
  background-color: #333333;
}
.navbar_theme_inverse .navbar__toggler .icon-bar {
  background-color: #ffffff;
}
.navbar_theme_inverse .navbar__collapse,
.navbar_theme_inverse .navbar__form {
  border-color: #101010;
}
.navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__link,
.navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__link:hover,
.navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__link:focus {
  background-color: #080808;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__menu > .dropdown__header {
    border-color: #080808;
  }
  .navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__menu .divider {
    background-color: #080808;
  }
  .navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__menu > li > a {
    color: #777777;
  }
  .navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__menu > li > a:hover,
  .navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__menu > .active > a,
  .navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__menu > .active > a:hover,
  .navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
  }
  .navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__menu > .disabled > a,
  .navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__menu > .disabled > a:hover,
  .navbar_theme_inverse .navbar__nav .dropdown_open .dropdown__menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar_theme_inverse .nav__link {
  color: #777777;
}
.navbar_theme_inverse .nav__link:hover {
  color: #ffffff;
}
.navbar_theme_inverse .btn_link {
  color: #777777;
}
.navbar_theme_inverse .btn_link:hover,
.navbar_theme_inverse .btn_link:focus {
  color: #ffffff;
}
.navbar_theme_inverse .btn_link[disabled]:hover,
fieldset[disabled] .navbar_theme_inverse .btn_link:hover,
.navbar_theme_inverse .btn_link[disabled]:focus,
fieldset[disabled] .navbar_theme_inverse .btn_link:focus {
  color: #444444;
}
