.list {
  margin-top: 0;
  margin-bottom: 10px;
}
.list .list {
  margin-bottom: 0;
}
.list_unstyled_true {
  padding-left: 0;
  list-style: none;
}
.list_inline_true {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list_inline_true > .list__item {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
