.img_responsive_true {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img_rounded_true {
  border-radius: 6px;
}
.img_thumbnail_true {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img_circle_true {
  border-radius: 50%;
}
